<h1>Profile</h1>
<%= @user.name %>
<% if @microposts.any? %>
<%= @microposts.count %> Microposts
<ol>
  <% @microposts.each do |micropost| %>
  <li>
    <%= micropost.content %>
    <%= micropost.created_at %>
    <%= link_to "delete", micropost, method: :delete, 
    data:{ confirm: "削除しますか" } %>
  </li>
  <% end %> 
</ol>
<% end %>